.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.boredom {
  font-family: "Fira Code", monospace;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("./images/Frame1.png");
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 1rem;
  box-shadow: 0.7px 2.7px 2.2px rgba(0, 0, 0, 0.039),
    1.7px 6.5px 5.3px rgba(0, 0, 0, 0.057),
    3.1px 12.1px 10px rgba(0, 0, 0, 0.07),
    5.6px 21.7px 17.9px rgba(0, 0, 0, 0.083),
    10.4px 40.5px 33.4px rgba(0, 0, 0, 0.101),
    25px 97px 80px rgba(0, 0, 0, 0.14);
}

.heading {
  color: white;
  font-size: 5rem;
  min-width: 1rem;
  margin-bottom: 3rem;
  padding-bottom: 0;
  font-weight: 400;
}

.idea {
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  font-weight: 500;
  padding: 10px;
}
.button {
  font-size: 1.4rem;
  color: white;
  background: #141e30; 
  background: -webkit-linear-gradient(
    to right,
    #243b55,
    #141e30
  );
  background: linear-gradient(
    to right,
    #243b55,
    #141e30
  ); 

  padding: 9px 27px;
  border: none;
  border-radius: 4px;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
  text-decoration: none;
}

.button:hover {
  box-shadow: 0px 1.1px 8.2px rgba(0, 0, 0, 0.146),
    0px 3px 22.7px rgba(0, 0, 0, 0.21), 0px 7.2px 54.6px rgba(0, 0, 0, 0.274),
    0px 24px 181px rgba(0, 0, 0, 0.42);
  transition: 0.2s all ease;
}

@media screen and (max-width: 775px) {
  .container {
    width: 80%;
  }
  .heading {
    width: 85%;
    text-align: center;
    margin-bottom: 30px;
    padding-bottom: 0;
  }
  .idea {
    font-size: 1.2rem;
    word-wrap: break-word;
    width: 90%;
    text-align: center;
  }
  
}
